$card-height: 50vh;
$card-width: 100%;

* {
  box-sizing: border-box;
}
.div{
  width: 100%;
}
.header {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 3vw;
  margin-left: 5vw;
  margin-top: 7vh;
  margin-bottom: 4vh;
  border-radius: 8px;
  background: #6867ef;
  & 
  :nth-child(1) {
    color: white;
    font-size: 2rem;
    font-family: Comfortaa-Bold, cursive;
  }
  :nth-child(2) {
    padding-right: 30%;
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: Comfortaa-Regular, cursive;
  }
}
.categoriesGridList {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 4vw;
  padding-top: 1vw;
  transition: 0.3s ease;
  &
  :nth-child(1) > div > div{
    background: rgba(98, 105, 100, 0.486);
  }
}

.categoriesGridListComponent {
  display: none;
  width: $card-width;
  height: $card-height;
  margin-bottom: 3vh;
  border-radius: 8px;
}
.categoriesGridListComponentHat {
  width: $card-width;
  height: $card-height;
  margin-bottom: 3vh;
  border-radius: 8px;
  z-index: 2000;
  transition: 0.2s ease;
  &:hover{
    .wrapper {
      height: $card-height;
      transition: 0.4s ease;
    }
  }
}
.wrapper {
  float: left;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 0vh;
  margin-bottom: -$card-height;
  border-radius: 8px;
  transition: 0.4s ease;
  z-index: 10;
}
img {
  position: relative;
  z-index: 1;
  transition: 0.3s ease;
}

@media (max-width: 600px) {
  
  .header {
    &
    :nth-child(1) {
      font-size: 1.2em;
    }
    :nth-child(2) {
      font-size: 0.75rem;
    }
  }
}

@font-face {
  font-family: Comfortaa-Bold;
  src: url("../../assets/fonts/Comfortaa-Bold.ttf");
}
@font-face {
  font-family: Comfortaa-Light;
  src: url("../../assets/fonts/Comfortaa-Light.ttf");
}
@font-face {
  font-family: Comfortaa-Regular;
  src: url("../../assets/fonts/Comfortaa-Regular.ttf");
}
