*{
  box-sizing: border-box;
}
.editTab{
  position: fixed;
  width: auto;
  height: 100%;
  top: 0;
  left: -850px;
  background: #fcfcfc;
  transition: 0.1s ease;
}
.editTabToggled{
  display: flex;
  flex-direction: row;
  position: fixed;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
  // border-right: 1.5px solid rgb(236, 236, 236);
  background: white;
  box-shadow: 0 0 50px rgba(243, 114, 114, 0.562);
  transition: 0.1s ease;
}
.colContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  // padding: 1vw 1vw 1vw 1vw;

  &
  .firstColumn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    height: 100%;
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
    border-radius: 10px;
    border: 1px solid rgb(219, 219, 219);
    background: white;

    &
    .inputArea{
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      & > label {
        color: #4b4b4b;
        font-size: 15px;
        font-family: RobotoSlab-Regular;
      }
      & > input {
        padding: 10px;
        padding-left: 0px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 0;
        border-bottom: 1.2px solid rgb(211, 211, 211);
        font-size: 18px;
        font-family: RobotoSlab-Regular;
        outline: none;
      }
    }
    .save{
      padding: 15px;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
      border-radius: 25px;
      color: rgb(255, 255, 255);
      background: #E74A4A;
      font-size: 18px;
      font-family: RobotoSlab-Regular;
      outline: none;
      cursor: pointer;
    }
  }
  .secondColumn{
    display: none;
    width: auto;
    height: 91%;
    margin-top: 12.5%;
    margin-left: 0.5vw;
  }
}
.backIcon{
  display: flex; 
  align-items: center; 
  justify-content: center; 
  position: absolute;
  top: 40px;
  right: 55px;
  width: 25px;
  height: 25px;
  color: #E74A4A;
  font-size: 2rem;
  cursor: pointer;
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url("../../assets/fonts/RobotoSlab-Regular.ttf");
}


