* {
  box-sizing: border-box;
}
.editTab {
  position: fixed;
  flex-direction: row;
  width: auto;
  height: 100%;
  top: 0;
  left: -850px;
  background: #fcfcfc;
  transition: left 0.2s ease;
}
.editTabToggled {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: auto;
  height: 100%;
  top: 0;
  left: 0px;
  // border-right: 1.5px solid rgb(236, 236, 236);
  background: white;
  box-shadow: 0 0 50px rgba(245, 133, 133, 0.562);
  transition: left 0.2s ease;
}
.colContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  // padding: 1vw 1vw 1vw 1vw;

  & .firstColumn {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    height: 100%;
    padding: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-radius: 10px;
    background: white;

    & .inputArea {
      display: flex;
      flex-direction: column;
      margin-top: 0px;

      & > label {
        color: #4b4b4b;
        font-size: 15px;
        font-family: RobotoSlab-Regular;
      }
      & > input {
        padding: 10px;
        padding-left: 0px;
        margin-top: 5px;
        margin-bottom: 10px;
        border: 0;
        border-bottom: 1.2px solid rgb(211, 211, 211);
        font-size: 16px;
        font-family: RobotoSlab-Regular;
        outline: none;
      }
    }
    .save {
      margin-top: 30px;
      padding: 15px;
      padding-left: 10px;
      padding-right: 10px;
      border: 0;
      border-radius: 25px;
      color: rgb(255, 255, 255);
      background: #e74a4a;
      font-size: 14px;
      font-family: RobotoSlab-Regular;
      outline: none;
      cursor: pointer;
    }
  }
  .secondColumn {
    display: none;
    width: auto;
    height: 91%;
    margin-top: 12.5%;
    margin-left: 0.5vw;
  }
}
.backIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35px;
  right: 35px;
  width: 25px;
  height: 25px;
  color: #e74a4a;
  font-size: 2rem;
  cursor: pointer;
}
select {
  margin-top: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  user-select: none;
  border: 1px solid rgb(182, 182, 182);
  border-radius: 5px;
  background: white;
  font-size: 16px;
}
option {
  padding: 10px;
  &:hover {
    background: #e74a4a;
  }
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url('../../assets/fonts/RobotoSlab-Regular.ttf');
}
