$hh: 55px;

* {
  box-sizing: border-box;
}

a{
  color: white;
  text-decoration: none;
}

.main{
  background: #E9E9E9;
}
header{
  display: flex;
  align-items: center;
  width: 100%;
  height: $hh;
  padding-left: 2vw;
  padding-right: 2vw;
  background: #141414;
}
.logotype{
  width: 4vh;
  height: 4vh;
  background: #f1f1f1;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $hh;
}
ul{
  display: flex;
  justify-content: space-between;
  width: 38%;
  margin-left: 4vw;
  list-style: none;
  padding: 0;
}
.tab{
  display: flex;
  align-items: center;
  height: $hh;
  padding: 0.5vh;
  color: white;
  transition: 0.2s ease;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-family: PT Mono;
  cursor: pointer;

}
.tabHovered{
  display: flex;
  align-items: center;
  height: $hh;
  padding: 0.5vh;
  color: white;
  transition: 0.2s ease;
  border-top: 3px solid transparent;
  border-bottom: 3px solid #e74a4a;
  transition: 0.2s ease;
  font-family: PT Mono;
  cursor: pointer;
}
.exit{
  height: 6vh;
  border: 0;
  color: white;
  background: none;
  font-size: 1em;
  font-family: PT Mono;
  cursor: pointer;
}

.Profile{
  display: flex;
  margin: 1rem;
  .formsDataUser{
    background: white;
    border-radius: 5px 5px 0 0;
    padding: 2vw;
    width: 18%;
    & div button{
      margin-top: 3vw;
    }
    .userIMG{
      border-bottom: 1px solid #141414;
      & img{
        width: 90%;
      }
    }
    .userFullName{
  
    }
    .userLogin{
  
    }
  }
  .userInformation{
    width: 79%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    .statisticContent{
      background: #ffffff;
      width: 100%;
      height: 100%;
      margin-top: 0.5rem;
      transition: all 1s ease
    }
    .userInformation_Menu{
      display: flex;
      width: 100%;
      .Menu{
        display: flex;
        justify-content: flex-start;
        height: 40px;
        font-family: RobotoSlab-Regular;
        margin: 0;
        .orderTypeDefault{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.6vw;
          min-width: 175px;
          background: #d4d4d4;
          cursor: pointer;
        }
        .orderTypeActive{
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.6vw;
          min-width: 175px;
          color: white;
          background: #E74A4A;
          cursor: pointer;
        }
      }
    }
  }
}

@font-face {
  font-family: PT Mono;
  src: url("../../assets/fonts/PT-Mono.ttf");
}