* {
  box-sizing: border-box;
}
.newsLineWrapper {
  width: 160vw;
  transition: 0.3s ease;
  padding-bottom: 10vh;
}
.newsComponent {
  display: flex;
  width: 70vw;
  height: 25vh;
  margin: 16vw;
  margin-top: 4vw;
  margin-bottom: 0vw;
  border-radius: 10px;
  background: #ffffff77;
  transition: 0.3s ease;
  box-shadow: 0px 0px 30px #c9c9c9;
}
.newsComponentOpen {
  position: fixed;
  top: 15vh;
  left: 5vw;
  width: 90vw;
  height: 70vh;
  background: #4646469d;
  border-radius: 10px;
  border: 2px solid #46464627;
  transition: 0.3s ease;
  z-index: 4000;
}
.newsComponentDesc {
  position: relative;
  top: -14vh;
  left: 40vw;
  color: black;
  font-family: Comfortaa-Regular, cursive;
}
.head {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 30px;
  padding: 3%;
  padding-bottom: 7vw;
  padding-left: 16vw;
  padding-right: 16vw;
  font-size: 17px;
  font-family: Comfortaa-Regular, cursive;
}
.button {
  display: flex;
  flex-direction: row;
}
.sortIcon {
  width: 13px;
  height: 13px;
  margin-top: 3px;
  margin-left: 5px;
}

@media (min-width: 600px) {
  .newsLineWrapper {
    display: none;
  }
  .newsComponent {
    display: flex;
    width: 70vw;
    height: 60vh;
    margin: 16vw;
    margin-top: 4vw;
    margin-bottom: 0vw;
    border-radius: 10px;
    background: #ffffff77;
    transition: 0.3s ease;
    box-shadow: 0px 0px 30px #c9c9c9;
  }
  .slider {
    display: none;
  }
}

@font-face {
  font-family: Comfortaa-Regular;
  src: url("../../assets/fonts/Comfortaa-Regular.ttf");
}
