*{
  box-sizing: border-box;
}
.newsLineWrapper{
  width: 160vw;
  transition: 0.3s ease;
  padding-bottom: 10vh;
}
.newsComponent{
  display: flex;
  width: 70vw;
  height: 25vh;
  margin: 16vw;
  margin-top: 5vw;
  margin-bottom: 2vw;
  border-radius: 10px;
  background: #eefcbd77;
  transition: 0.3s ease;
  box-shadow: 0px 0px 30px #c9c9c9;
}
.newsComponentOpen{
  position: fixed;
  top: 20vh;
  left: 5vw;
  width: 90vw;
  height: 60vh;
  background: #e1f52ce5;
  border: 2px solid #e1f52c62;
  transition: 0.3s ease;
  z-index: 1000;
}


@media (min-width: 600px){
  .newsLineWrapper{
    display: none;
  }
  .newsComponent{
    display: none;
  }
}