.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 200px;
  height: 50px;
  bottom: 50px;
  right: 3vw;
  background: rgb(253, 253, 253);
  border: 2px solid rgb(218, 218, 218);
}
.alertMessage {
  margin-left: 10px;
}
.copied {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
