html {
  background: rgb(231, 231, 231);
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.mainActive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.default {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  font-size: 1.3rem;
  font-family: PT Mono;
}
@font-face {
  font-family: PT Mono;
  src: url('../../assets/fonts/PT-Mono.ttf');
}
