* {
  box-sizing: border-box;
}
button {
  background: none;
  border: none;
}

.main {
  background: white;
}
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 1.5vw;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 2em;
  font-family: PT Mono;
}

svg{
  cursor: pointer;
}

@font-face {
  font-family: PT Mono;
  src: url("../../assets/fonts/PT-Mono.ttf");
}
