$main-color: #FFCC21;
*{
  box-sizing: border-box;
}
.header{
  width: 100%;
  padding: 2%;
  padding-top: 3%;
  padding-left: 5%;
  color: black;
  font-size: 2rem;
  font-family: Comfortaa-Regular, cursive;
  transition: 0.1s ease;
}

@media (max-width: 600px){
  .header{
    font-size: 1.5rem;
  }
}
@font-face {
  font-family: Comfortaa-Regular;
  src: url('../../assets/fonts/Comfortaa-Regular.ttf');
}
