$main-color: #FFCC21;
*{
  box-sizing: border-box;
}
.header{
  width: 100%;
  padding: 2%;
  padding-left: 5%;
  font-size: 2rem;
  font-family: 'Zilla Slab', serif;
  transition: 0.1s ease;
}

@media (max-width: 600px){
  .header{
    font-size: 1.5rem;
  }
}
  
