.describer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  box-shadow: 3px solid yellow;
  background: #eeff55;
}
@media (min-width: 600px){
  .describer{
    display: none;
  }
}