*{
  box-sizing: border-box;
}
.slider{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 30px;
  padding: 3%;
  padding-bottom: 5vw;
  padding-left: 16vw;
  padding-right: 16vw;
  font-size: 14px;
  font-family: 'Zilla Slab', serif;
}
.button{
  display: flex;
  flex-direction: row;
}
.sortIcon{
  width: 13px;
  height: 13px;
  margin-top: 3px;
  margin-left: 5px;
}
@media (min-width: 600px){
  .slider{
    display: none;
  }
}